@model MailMeBilling.Models.loadtemp
@{ var BillNo = @ViewBag.Billno;}
<div class="col-md-12" id="fromdiv">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title mb-3">Add Product</div>
            <form id="myform" method="post" name="myform">
                <div class="row">
                    <input type="hidden" value="@BillNo" name="Billno" id="Billno" />
                    <div class="col-md-4 form-group mb-3">
                        <label for="firstName1">Product name</label>
                        <input class="form-control" name="Productname" id="tags" onkeyup="autoname()" type="text" placeholder="Enter your Product name" onchange="myFun()" required />
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="lastName1"> Category</label>
                        <input class="form-control" name="Category" id="Category" type="text" placeholder="Category" readonly value="" />
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="exampleInputEmail1"> SubCategory</label>
                        <input class="form-control" name="Subcategory" id="Subcategory" type="text" placeholder="SubCatagory" readonly value="" />

                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="phone">Color</label>
                        <input class="form-control" name="Color" id="Color" placeholder="Color" readonly value="" />
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="credit1">Brand</label>
                        <input class="form-control" name="Brand" id="Brand" placeholder="Brand" readonly value="" />
                    </div>
                    <div class="col-md-4 form-group mb-3">
                        <label for="credit1">HSN Code</label>
                        <input class="form-control" name="Hsncode" id="Hsncode" placeholder="Hsncode" readonly value="" />
                    </div>

                    <div class="col-md-3 form-group mb-3">
                       
                        <label for="website">Rate</label>
                        <input class="form-control" name="Rate" id="Rate" placeholder="Rate" value="" readonly required />
                        <input type="hidden" id="hitrate" value="" />
                    </div>
                    <div class="col-md-3 form-group mb-3">
                        <label for="website">Avilable Stock</label>
                        <input class="form-control" name="Rate" id="stock" placeholder="stock" readonly value="" />


                    </div>
                    <div class="col-md-3 form-group mb-3">
                        <label for="website">Quantity</label>
                        <input class="form-control" name="Quantity" value="" id="Quantity" placeholder="Quantity" onkeyup="addamount(this)" required />
                    </div>
                    <div class="col-md-3 form-group mb-3">
                        <label for="website">Amount</label>
                        <input class="form-control" name="Amount" id="Amount" placeholder="Amount" readonly value="0" required />
                    </div>
                   
                </div>
            </form>
            <div class="col-md-4 form-group mb-3" style="padding-top:22px">
                <input type="button" value="Add item" id="addproduct"  onclick=Save() class="btn btn-primary" />

               
            </div>
           
        </div>
    </div>
</div>
