@model MailMeBilling.Models.creditnote

@{
    ViewData["Title"] = "Credit Note Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>Edit Credit Note</h4>
<hr />




    <form asp-action="Edit">
        <div class="row">
            <input type="hidden" asp-for="cid" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="mobilenumber" class="control-label"></label>
                    <input asp-for="mobilenumber" id="cnumber" class="form-control" readonly required />
                    <span asp-validation-for="mobilenumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" id="name" class="form-control" readonly required />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>

                    <textarea asp-for="address" id="address" class="form-control" readonly required>

                    </textarea>
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="person" class="control-label"></label>

                    <select asp-for="person" class="form-control" required>
                        <option value="">Select</option>
                        <option value="customer">Customer</option>
                        <option value="vendor">Vendor</option>
                    </select>
                    <span asp-validation-for="person" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="particular" class="control-label"></label>
                    <input asp-for="particular" class="form-control" required />
                    <span asp-validation-for="particular" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="totalamount" class="control-label"></label>
                    <input asp-for="totalamount" class="form-control" required />
                    <span asp-validation-for="totalamount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>



