@model MailMeBilling.Models.Brand

@{
    ViewData["Title"] = "UPDATE BRAND";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>Update Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Brandname" class="control-label"></label>
                <input asp-for="Brandname" class="form-control" />
                <span asp-validation-for="Brandname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branddescription" class="control-label"></label>
                <input asp-for="Branddescription" class="form-control" />
                <span asp-validation-for="Branddescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

