@model MailMeBilling.Models.loadtemp
@{
    ViewData["Title"] = "Sales Report Bill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";



}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- ============ Main content start ============= -->
<div class="main-content" id="main">


    <div class="row" id="loadpage">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
                @*<li class="nav-item"><a class="nav-link " id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Billing</a></li>*@
                <li class="nav-item"><a class="nav-link active" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="true">Copy Bill</a></li>

            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="invoice" role="tabpanel" aria-labelledby="invoice-tab">

                        <!-- -===== Print Area =======-->


                        <div class="d-sm-flex mb-5" data-view="print" id="printb">
                            <span class="m-auto"></span>
                            <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Invoice</button>
                            <br/>
                            <!-- Button trigger modal -->
                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                               Change Bill Date
                            </button>
                           
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update Bill Date</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" asp-controller="MyReports" asp-action="Updatebill">
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Date:</label>
                                                    @foreach (var sums in Model.salesinvoicesummeries)
                                                    {
                                                        <input type="hidden" value="@sums.Billid" name="Billid" />
                                                        <input type="datetime-local" class="form-control" name="BillDate" id="recipient-name" required>
                                                    }
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <partial name="printsections" />
                       
                        <!-- ==== / Print Area =====-->
                    </div>
                    <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                        <!-- ==== Edit Area =====-->
                        
                        <div class="mt-3 mb-4 border-top"></div>
                        <!-- ==== Entry Form Area =====-->
                      
                        <!-- ==<== Entry Form Area End =====-->
                        <!-- ==== Form Area =====-->
                        

                    </div>

                    <!-- ==== / Form Area =====-->
                    <!-- ==== / Edit Area =====-->
                </div>
            </div>
        </div>
    </div>
</div><!-- end of main-content -->
<!-- Footer Start -->
<!-- ============ Main content End ============= -->



