@model MailMeBilling.Models.Color

@{
    ViewData["Title"] = "Add Color";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h4>Add Color</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Colors" class="control-label"></label>
                <input asp-for="Colors" class="form-control" />
                <span asp-validation-for="Colors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colorsdscription" class="control-label"></label>
                <input asp-for="Colorsdscription" class="form-control" />
                <span asp-validation-for="Colorsdscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

