@model MailMeBilling.Models.Expens

@{
    ViewData["Title"] = "UPDATE EXPENS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h4> Update Expens </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="eid" />
            <div class="form-group">
                <label asp-for="reason" class="control-label"></label>
                <input asp-for="reason" class="form-control" required />
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" required />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

