@model MailMeBilling.Models.Vendor

@{
    ViewData["Title"] = "UPDATE VENDOR";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>Update Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vendorId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobilenumber" class="control-label"></label>
                <input asp-for="Mobilenumber" class="form-control" />
                <span asp-validation-for="Mobilenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bankname" class="control-label"></label>
                <input asp-for="Bankname" class="form-control" />
                <span asp-validation-for="Bankname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accountnumber" class="control-label"></label>
                <input asp-for="Accountnumber" class="form-control" />
                <span asp-validation-for="Accountnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ifsccode" class="control-label"></label>
                <input asp-for="Ifsccode" class="form-control" />
                <span asp-validation-for="Ifsccode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bankbranch" class="control-label"></label>
                <input asp-for="bankbranch" class="form-control" />
                <span asp-validation-for="bankbranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

